@import '_fonts';


html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


a {
    display: inline-block;
    text-decoration: none;
    color: #353535;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

body {
    font-family: 'SF-Pro-Display';
    color: #353535;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}








// start burger

.burger {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF2929;
    padding-top: 13px;
    margin: 0 30px 0 10px;
    cursor: pointer;
    display: none;
}

.bar1, .bar2, .bar3 {
    background-color: #fff;
    height: 5px;
    width: 35px;
    margin: 0 auto;
    transition: 0.7s;
}

.bar2 {
    width: 16px;
    margin: 5px 7px 5px auto;
} 


.burger.active {
    background-color: #fff;
    border: 1px solid #FF2929;;
    & .bar2 {
        width: 35px;
        border-radius: 0 2px 2px 0;
        background-color: #FF2929;
    }
    & .bar1 {
        transform: translateX(8px) translateY(2px) rotate(45deg);
        border-radius: 2px;
        width: 26px;
        background-color: #FF2929;
        
        
    }
    & .bar3 {
        transform: translateX(8px) translateY(-2px) rotate(-45deg);
        border-radius: 2px;
        width: 26px;
        background-color: #FF2929;
    }
}

 .header__social-links .header__social-link {
    display: inline-block;
}
.header__social-link {
    margin: 10px 10px;
}

// end  burger





//star header
.header {
    margin-top: 25px;
    position: fixed;
    width: 100%;
    z-index: 10;
    right: 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: relative;
}

.header__logo {
    max-width: 209px;
    max-height: 52px;
    margin-left: 30px;
}
.header__logo-img {
    height: 100%;
    width: 100%;
}

.header__phones {
    margin-right: 25px;
    li {
        display: block;
        &:hover a {
            color: #FF2929;
            transition: 0.3s;
        }
        &:first-child {
            margin-bottom: 10px;
        }
    }
}

.header__menu-link {
    font-size: 18px;
    margin: 0 15px;
    transition: 0.3s;
    &:hover {
        color: #FF2929;
    }
}

.header__menu-items {
    display: flex;
    justify-content: space-between;
}





//end header



//start head
    .head {
        margin-bottom: 30px;
    }

    .head__inner {
        display: flex;
    }

    .head__container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 779px;
        width: 100%;
    }
    
    .head__content {
        max-width: 610px;
        margin-left: 135px;
        margin-right: 20px;
    }


    .head__img {
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       max-width: 1140px;
       width: 100%;
       height: 900px;
    }

    .head__overhead {
        color: #FF2929;
        font-size: 20px;
        font-weight: 400;
    }
    h1 {
        font-size: 40px;
        font-weight: 800;
        color: #353535;
        line-height: 55px;
    }
    .head__text {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 30px;
        .discount {
            color: #FF2929;
            font-weight: 700;
        }
    }
    
    .btn {
        padding: 20px 20px;
        border: 1px solid #FF2929;
        color: #FF2929;
        border-radius: 44px;
        transition: 0.4s;
        font-size: 18px;
        font-weight: 700;
        max-width: 248px;
        width: 100%;
        text-align: center;
        & + .btn {
            margin-left: 15px;
        }
        &:hover {
            background-color: #FF2929;
            box-shadow: 0px 3px 0px #FF2929;
            color: #FFFFFF;
        }
    }

  
//end head

// start spacious , systems 

    .spacious, .systems {
        background-color: #FAFAFA;
        margin-bottom: 30px;
    }

    .spacious__inner, .systems__inner {
        display: flex;
    }
    .spacious__content,.spacious__pic, .systems__content, .systems__pic {
        width: 50%;
    }

    .spacious__img {
        max-width: 850px;
        width: 100%;
        height: auto;
    }
    .systems__img {
        max-width: 600px;
        width: 100%;
        height: auto;
        padding: 150px 10px;
    }
   
    .spacious__content, .systems__content{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .spacious__content-inner, .systems__content-inner {
        text-align: center;
        max-width: 700px;
    }

    .title {
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 25px;
        text-align: center;
        &:after {
            content: "";
            width: 91px;
            height: 8px;
            background-color: #FF2929;
            display: block;
            margin: 25px auto 25px;
            border-radius: 9px;
        }
    }
    .spacious__text, .systems__text {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 35px;

    }
// end spacious , systems

// start materials

    .materials {
        min-height: 250px;
        background: linear-gradient(108.3deg, #FF2929 33.07%, #FF2929 66.3%, #F82222 66.31%, #FF2929 87.61%);
    }

    .materials__inner {
        display: flex;
        color: #FFFFFF;
    }
    .materials__img {
        height: 250px;
        transform: translateY(-30px);
    }
    .materials__title {
        margin-top: 40px;
        font-size: 40px;
        line-height: 47px;
        position: relative;
        margin-bottom: 40px;
        &::after {
            content: "";
            height: 2px;
            width: 91px;
            background-color: #fff;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }
    .materials__text {
        font-size: 22px;
        line-height: 26px;
        padding: 20px 0;
    }

// end materials

// start steps
    .steps {
        padding: 30px 0 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }

    .steps__inner {
        text-align: center;
    }

    .steps__title {
        margin-bottom: 50px;
    }

    .steps__items {
        display: flex;
        justify-content: center;
        
    }

    .steps__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 75px;
    }
    .steps__item-content {
        max-width: 245px;
        margin: 0 auto;
    }

    .steps__item-title {
        color: #FF2929;
        font-size: 40px;
        line-height: 47px;
        margin-top: 20px;
        span {
            font-weight: 700;
            font-size: 60px;
            line-height: 71px;
        }
    }

    .steps__item-text {
        font-weight: 700;
        font-size: 22px;
        line-height: 40px;
    }

// end steps

// start contact-us

    .contact-us {
        padding: 40px 0;
        background: linear-gradient(108.3deg, #444444 33.07%, #444444 66.3%, #3C3C3C 66.31%, #3C3C3C 87.61%);
        color: #fff;
    }

    .contact-us__inner {
        text-align: center;
        padding: 0 10px;
    }

    .title__mini {
        font-size: 40px;
        line-height: 54px;
        font-weight: 400;
        text-align: center;
        &:after {
            content: "";
            width: 91px;
            height: 2px;
            background-color: #FF2929;
            display: block;
            margin: 25px auto 25px;
            border-radius: 9px;
        }
    }
    
    .contact-us__subtitle, .colors__subtitle {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 35px;
    }

    .form__text, .form__btn {
        max-width: 378px;
        height: 90px;
        width: 100%;
        border: none;

    }
    .contact-us__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
      
    }
    .form__text {
        padding: 25px 20px;
        font-size: 22px;
        margin-right: 30px;
        outline: none;
    }

    .form__btn {
        padding: 20px;
        font-size: 30px;
        font-weight: 700; 
        background-color: #FF2929;
        border-radius: 98px;
        color: #fff;
        transition: 0.5s;
        &:hover {
            color: #FF2929;
            background-color: #fff;
            border: 2px solid #FF2929;
        }
    }

    .contact-us__write-us {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .social-link {
        margin: 0 20px;
    }
    .data {
        display: inline-block;
        color: #A5A5A5;
        font-size: 18px;
        margin-top: 15px;
    }

    
    
// end contact-us

// start examples

    .examples {
        padding: 40px 0 60px;
    }
    .examples__item-img {
        max-width: 513px;
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .examples__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .examples__title {
        text-align: center;
        margin-bottom: 60px;
    }
    .examples__item {
        margin: 0px 10px;
    }

    .examples__item-text {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 30px;
    }


// end examples

// start colors

    .colors {
        padding: 40px 0 60px;
        background-color: #FBFBFD;
        color: #353535;
    }

    .color__subtitle {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5px;
    }

    .color__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .coor__item {
        margin: 0 10px 15px 10px;

    }
    .coor__item-img {
        max-width: 220px;
        max-height: 220px;
        margin-bottom: 25px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .coor__item-text {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }

    .prof__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .prof__item {
        margin: 0px 25px 25px 25px;
    }
    .prof__item-img {
        max-width: 296px;
        max-height: 340px;
        margin-bottom: 25px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .prof__item-text {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    


// end colors


// start our-works

    .our-works {
        margin-top: 80px ;
        margin-bottom: 80px;
    }

    .our-works__title::after {
        height: 8px;
    }

    .our-works__items {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .our-works__item {
        width: 25%;
        max-height: 691px;
        position: relative;
        transition: 1s;
    }

    .our-works__item:hover {
        transform: scale(1.1);
        z-index: 3;
    }

    .our-works__item:hover .our-works__item-line {
        opacity: 0;
     
    }

    .our-works__item-img {
        width: 100%;
        height: 100%;
    }

    .our-works__price-wrapper {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }

    .our-works__price {
        display: inline-block;
        min-width: 238px;
        background-color: #FF2929;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        padding: 23px 40px;
    }

    .our-works__item-line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 10px;
        border: 1px solid #fff;
        transition: 1s;
    }
    
// end our-works


// start advantages 
    .advantages {
        background: linear-gradient(117.71deg, #F9F9F9 2.69%, #F9F9F9 35.52%, #F4F4F4 35.52%, #F4F4F4 50.35%), #FBFBFD;
        padding: 60px 0 60px;
        margin-bottom: 60px;
    }

    .advantages__items {
        display: flex;
        justify-content: space-between;
    }

    .advantages__item {
        max-width: 513px;
        width: 100%;
        height: 338px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px;
        & + .advantages__item {
            margin-left: 20px;
        }
    }


    .advantages__text {
        padding: 10px;
        font-size: 30px;
        color: #fff;
        text-align: center;
        max-width: 407px;
        font-weight: 700;
        span {
            display: block;
            font-weight: 500;
        }
    }
 
    .advantages__item-line {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #FBFBFD;
        height: 100%;
    }

// end advantages

// start equipment 
    .equipment {
        margin-bottom: 60px;
    }

    .equipment__title {
        margin-bottom: 40px;
    }

    .equipment__img-1 {
        max-width: 1028px;
        max-height: 1371px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .equipment__img-2 {
        max-width: 1600px;
        max-height: 563px;
        margin: 0 auto;
    }
    .equipment__img {
        width: 100%;
        height: 100%;
    }

// end equipment

// start certificates 

    .certificates {
        background-color: #FBFBFD;;
    }

    .certificates__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    
    .certificates__item {
        display: inline-block;
        & + .certificates__item {
            margin-left: 40px;
        }
    }

// end certificates

// strat footer

    .footer {
        background-color: #2D2D2D;
        max-height: 92px;
        text-align: center;
        padding: 30px 0;
        span {
            color: #C7C7C7;
            font-size: 22px;
        }
    }

// end footer

// start modal 

    .fancybox-content {
        max-width: 680px;
        padding: 0;
    }

    .modal__title {
        background-color: #FF2929;
        color: #fff;
        font-size: 60px;
        padding: 20px 0;
        text-align: center;
    }
   

    .fancybox-slide--html .fancybox-close-small {
        border: 3px solid #fff;
            border-radius: 50%;
            padding: 0px;
            right: 10px;
            top: 10px;
    }
    .fancybox-button svg path {
        fill: #fff;
        stroke-width: 0;
    }
    .modal__form {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        font-size: 22px;
        .modal__form-text, .modal__form-area {
            max-width: 620px;
            margin-bottom: 20px;
            padding: 30px;
            outline: none;
        }
        .modal__form-area {
            height: 257px;
            resize: none
        }
    }
    .modal__subtitle {
        padding: 30px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .modal__form-btn {
        max-width: 380px;
        display: inline-block;
        margin: 0 auto;
        border: none;
        color: #fff;
        background-color: #FF2929;
        font-size: 30px;
        font-weight: 700;
        padding: 25px 55px;
        border-radius: 98px;
        margin-bottom: 30px;
    }
    .modal__form-rights {
        color: #A5A5A5;
        text-align: center;
        margin-bottom: 40px;
    }

// end modal


@import '_media';